.portfolio {
  margin: 0 auto;
  padding: 0 70px 90px;
  background-color: #202020;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  margin: 0 0 50px;
}

.portfolio__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.portfolio__item {
  padding: 0 0 20px;
}

.portfolio__item:last-child {
  padding: 0;
}

.portfolio__item::after {
  display: block;
  content: '';
  border-bottom: 1px solid #424242;
}

.portfolio__item:last-child:after {
  display: none;
}

.portfolio__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px;
}

.portfolio__item_title {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
}

.portfolio__arrow {
  width: 100%;
  max-width: 29px;
}