.filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 43px 0;
  padding: 0;
  column-gap: 14px;
}

.filter__checkbox {
  align-self: center;
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  background-color: #202020;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.1), 0px 4px 8px rgba(50, 50, 71, 0.1);
  border-radius: 16px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.filter__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.filter__round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #202020;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 36px;
  padding: 6px;
}

.filter__round::before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 3px;
  top: 2px;
  bottom: 2px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  transition: background-color .3s;
}

.filter__input:disabled {
  background-color: #202020;
}

.filter__input:checked+.filter__round {
  background-color: #202020;
}

.filter__input:checked+.filter__round:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
  background-color: #2BE080;
}


.filter__title {
  margin: 0;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
}

@media screen and (max-width: 820px) {
  .filter {
    margin: 0 0 54px 0;
  }
}

@media screen and (max-width: 450px) {
  .filter {
    margin: 0 0 64px 0;
    column-gap: 13px;
  }

  .filter__title {
    font-size: 11px;
  }
}